[user]
    name = Shane Schulte
    email = shane.schulte@samsara.com

[core]
    editor = vim

[alias]
    summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"
    fpush = "push --force-with-lease"
    fp = "push --force-with-lease"
    pf = "push --force-with-lease"
    a = "!git-add-file; git status"
    r = "!git-reset-file; git status"
    l = "log --oneline"
    wopsy = "commit -a --amend --no-edit"
[push]
    default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
