[user]
    name = Shane Schulte
    email = schulte.shane@gmail.com

[core]
    editor = vim

[alias]
    summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"
    fpush = "push --force-with-lease"
    fp = "push --force-with-lease"
    pf = "push --force-with-lease"
    a = "!git-add-file"
    r = "!git-reset-file"
    l = "log --oneline"
    s = "status -s"
    wopsy = "commit -a --amend --no-edit"
    pop = "!git log -1 --pretty=%B | cat | xclip -selection c; git reset --soft HEAD^"
    update = "pull origin master --rebase"
    ri = "pull origin master --rebase=interactive"
    trim = "!git branch | fzf -m | xargs -r git branch -D"
    obliterate = "!git add -A && git stash && git stash drop"
    start = "!git add -A && git stash && git checkout master && git update"
[push]
    default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
